.alert-message.block-message.info
  %h3 Ton compte sur Roller-Lausanne Sport
  %p C'est la première fois que tu te connectes... Tu es dans l'application en ligne te permettant de gérer tes données personnelles au sein du RLS.
  %p Ici tu peux:
  %ul
    %li Gérer tes coordonnées
    %li Trouver les coordonnées des autres membres de ton équipe
  %p Si t'es membres du RLS, alors t'as tout compris
  %p 
    Mais avant d'aller plus loins,
    %strong merci de compléter tes coordonnées


= render "form"
